
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



.inter-sans-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

.main{
    padding: 10px 40px;
}

/* shared styles */

.display-flex{
    display: flex;
}

.text-black{
    color: black;
}

.text-grey{

    color: rgb(137, 135, 161);

}

/* header  Styles*/



/* navbar styles */
.navbar{
   justify-content: space-between;
}

.nav-item{
list-style: none;
margin-right:  30px;
}

.nav-link{
    text-decoration: none;
}
.cart{
color: rgb(0, 0, 0);
}

.header{
    margin: 50px 40px;
}
.fresh-flower{
    margin-top: 150px;
}
.fresh-flower-img{
    width: 50%;
}
#font-color{
    color: #E95A08;
}
.plants{
    text-align: center;
    padding-top: 70px;
  
  
}

.primary{
    background-color: #E95A08;
    color: white;
    height: 30px;
    width: 270px;
    
}

.flower-cart{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 20px 40px;

}

.flower-cart, p{
    font-weight: bold;
    margin-top: 0%;
 
}
.flower-cart, h4{
   font-size: medium;
   margin-bottom: 3px;
  
 

}
.flower-plants-lover,.store{
    width: 100%;
    padding: 30px 20px;
} 
.flower-plants-lover{
    margin-top: 70px;
    margin-bottom: 30px;
   

}
.Flower-Plants{
    padding: 40px;
    margin-top: 30px;
}

.lover-item{
    padding: 10px;
}

.latest-deal{
    text-align: center;
 
}
.latest{
    margin-top: 50px;
    margin-bottom: 50px;
}
.latest-deal-img{
    padding: 10px;
    margin-top: 10px;
}
#blossoms{
    padding-bottom: 10px;
    
}


.background{
    background-image: url(../assets/news-letter-bg.png);
    height: 350px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
.background,button{
    gap: none;

    
}
.background-style{
    margin-top: 50px;
    align-items: center;
    padding: 100px;

}

.text{
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    gap: none;
}
#bunch{
    color: white;
}

/* Media query */

@media screen and (max-width: 576px) {

    .navbar, .nav-links, .header, .flower-cart, .flower-plants-lover,.latest-deal, .latest-img, .background{
        flex-direction: column;
    }


    .flower-cart{
        grid-template-columns: repeat(2, 1fr);
    }
    .latest-img {
        grid-template-columns: repeat(1, 1fr);
    }
}
    

